.todo-list-tasks .MuiList-root {
    background-color: transparent;
    overflow-y: auto;
    max-height: 72vh;
}

.todo-list-no-tasks {
    text-align: center;
    color: #212121;
    margin-top: 40px;
}